#chars-container{
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 40%;

}

#main-container{
  text-align: center;
}

.char-container{
  display: flex;
  flex: 1;
  margin-right: 50px;
  width: auto;
  height: 260px;
  border: 1px solid rgb(59, 59, 59);
}
