html{
  min-height: 100vh;
}
.todo{
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  background-color: rgb(26, 26, 36);
  color: white;
  margin: 0 auto;
  padding: 0;
  display: block;
  width: auto;
  min-height: 100px,
}

.titulo{
  text-align: center;
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

